* { margin: 0; padding: 0;}

body, html { height:100%; }

canvas {
    image-rendering: -moz-crisp-edges;    /* Firefox */
    image-rendering: pixelated;           /* Chrome */
    position:absolute;
    width:100%;
    height:100%;
}
#ctx2 {
    pointer-events:none;
}

.chat{
    font-family:Helvetica, Arial, sans-serif;
    position:absolute;
    bottom: 0;
    width: 30%;
    height: 25%;
    color:#777;
    overflow:hidden;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Lucida Console';
    font-size: 14px;
}

.chat .messages{
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  width:100%;
  height:85%;
}
.chat .messages:hover{

  overflow-y:scroll;
}
.chat > .chatinput{
  resize: vertical;
  font-size:15px;
  border:0;
  width: 100%;
  background-color: black;
  color: white;
  height: 15%
}

#debug {
   position: absolute;
   font-family: 'Lucida Console';
   font-size: 18px;
   color: red;
   border: 2px solid black;
   background-color: rgba(0, 0, 0, .5);
}