body, canvas {
    margin: 0;
    padding: 0;
}

canvas {
    image-rendering: -moz-crisp-edges;    /* Firefox */
    image-rendering: pixelated;           /* Chrome */
    position:absolute;
    width: 100%;
    height: 100%;
}

#ctx2 {
    pointer-events:none;
}

.chat{
    font-family:Helvetica, Arial, sans-serif;
    position:absolute !important;
    bottom: 0;
    width: 30%;
    height: 25%;
    color:#777;
    overflow:hidden;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Lucida Console';
    font-size: 14px;
    margin-left: 4px;
}
.chat .messages{
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    width:100%;
    height:85%;
}
.chat .messages:hover{
    overflow-y:scroll;
}
.chat > .chatinput{
    resize: vertical;
    font-size:15px;
    border:0;
    width: 100%;
    background-color: black;
    color: white;
    height: 20%
}

#debug {
    z-index: 999;
    position: absolute;
    font-family: 'Lucida Console';
    font-size: 18px;
    color: red;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, .5);
}

#target {
    font-family:Helvetica, Arial, sans-serif;
    position:absolute;
    bottom: 0;
    width: 30%;
    height: 25%;
    color:#777;
    overflow:hidden;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Lucida Console';
    font-size: 14px;
}

.div-table{
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    display:table;         
    width:20%;        
    font-family: 'Lucida Console';
    font-size: 15px;
    color: white;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, .5);
}
.div-table-row{
    display:table-row;
    clear:both;
}
.div-table-col{
    float:left;/*fix for  buggy browsers*/
    display:table-column;          
}

::-webkit-scrollbar {
    width: 5px;
    height: 15px;
    left: 8px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #020202;
    border: 30px none #080808;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0f0f0f;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 30px none #000000;
    border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

#signin {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#groupinfo { 
    position:absolute;
    bottom: 0;
    left: 30%;
    width: 10%;
    height: 25%;
    color:#777;
    overflow:hidden;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Lucida Console';
    font-size: 14px;
    margin-left: 4px;
}

#target {
    position:absolute;
    bottom: 22%;
    left: 40%;
    width: 10%;
    height: 3%;
    color:#777;
    overflow:hidden;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Lucida Console';
    font-size: 14px;
    margin-left: 4px;
}
#chatresizer, #groupresizer, #playerinforesizer, #targetresizer {
    width: 14px;
    height: 14px;
    background-color: #333333;
    border: 1px solid #000000;
    top: 0px;
    right: 0px;
    position: absolute !important;
}